body {
  background-color: rgb(240, 229, 229);
}

/* .portfoliopics {
    background-color: white;
    padding-top: 15pt;
    padding-bottom: 15pt;
    text-align: center;
    vertical-align: middle;
} */

.portfolioborder {
  background-color: white;
  padding-top: 15pt;
  padding-bottom: 15pt;
  text-align: center;
  vertical-align: middle;
  margin-top: 30px;
  margin-bottom: 30px;
  border-radius: 30px;
  border-width: 1.5px;
  border-color: gray;
}

.invisible {
  width: 0px;
  display: none;
}

.smallrw {
  width: 75%;
  margin: 0px;
  padding: 0px;
}

.img-thumbnail {
  height: 160px;
  width: 170px;
}

.img-thumbnail:hover {
  border-style: groove;
  border-width: 2px;
  border-radius: 5px;
  border-color: rgb(19, 245, 207);
  background-color: rgb(19, 245, 207);
  height: 160px;
  width: 170px;
  text-align: center;
}

.textCentre {
  text-align: center;
}

.hoverleft {
  text-align: center;
  width: 220px;
  float: left;
  margin-left: 60px;
  margin-top: 1px;
}

.test {
  float: right;
}

.hoverright {
  text-align: center;
  width: 220px;
  float: right;
  margin-right: 60px;
  margin-top: 1px;
}

h4 {
  font-size: medium;
  border-style: ridge;
  border-color: black;
  border-width: 1px;
  text-align: center;
}

.hover h3 {
  color: black;
  vertical-align: middle;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.rowheight {
  height: 220px;
}

.container {
  padding-top: 25px;
}

.h3 {
  border: 1px;
  border-radius: none;
  background-color: teal;
}

#page-container {
  position: relative;
  min-height: 100vh;
}

#content-wrap {
  padding-bottom: 2.5rem;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 1.7rem;
  vertical-align: bottom;
  background-color: darkslategrey;
  color: white;
}

.mainimage {
  width: 300px;
  height: 400px;
  margin-top: 30px;
  margin-bottom: 30px;
}

.card {
  margin-top: 30px;
  margin-bottom: 30px;
  border-radius: 30px;
  border-width: 1.5px;
  border-color: gray;
  height: 400px;
  text-align: middle;
}

.floatLeft {
  float: left;
  margin-left: 20px;
}

.floatRight {
  float: right;
  vertical-align: bottom;
  text-align: center;
  margin-right: 30px;
  color: white;
}

.floatRight:hover {
  cursor: pointer;
  color: cornflowerblue;
}

.navbar {
  background-color: darkslategrey;
  height: 30px;
  color: darkred;
}
.addheight {
  height: 10px;
}

@media screen and (max-width: 993px) {
  body {
    background-color: darkgray;
    margin-left: 10px;
    margin-right: 10px;
    border-left: 10px;
    border-right: 10px;
  }
  .navbar {
    height: fit-content;
  }
  .h4 {
    font-size: small;
  }
  .mainimage {
    display: none;
  }
  .card-text, li {
    font-size: smaller
  }
  .portfoliopics {
    background-color: white;
    padding-top: 3pt;
    padding-bottom: 3pt;
    text-align: center;
    vertical-align: middle;
  }
  .img-thumbnail {
    width: 150px;
    height: 150px;
    text-align: center;
    align-items: center;
  }
  .img-thumbnail:hover {
    border-style: groove;
    border-width: 1px;
    border-color: turquoise;
    background-color: turquoise;
  }
  .rightcolumn {
    display: none;
  }
  /*   .hoverleft {
    text-align: center;
    width: 150px;
    float: left;
    margin-left: 30px;
    margin-top: 1px;
  }
  .hoverright {
    text-align: center;
    width: 150px;
    float: right;
    margin-right: 30px;
    margin-top: 1px;
  } */
}

@media screen and (max-width: 773px) {
  .hoverleft {
    margin-left: 0px;
  }
  .hoverright {
    margin-right: 0px;
  }
  .card-text, li {
    font-size: x-small;
  }
  .img-thumbnail {
    width: 90px;
    height: 90px;
  }
  .h4 {
    display: none;
  }
  .img-thumbnail:hover {
    border-style: groove;
    border-width: 1px;
    border-color: turquoise;
    background-color: turquoise;
  }
}

@media screen and (max-width: 550px) {
  .hoverleft {
    text-align: center;
    float: none;
    margin-right: 20px;
    margin-bottom: 20px;
    margin-top: 20px;

   
  }
  .hoverright {
    text-align: center;
    float: none;
    margin-left: 20px;
    margin-bottom: 20px;
    margin-top: 20px;
  }
  
  h4 {
    display: none;
  }
  
  .addheight {
    height: 30px;
  }
}